.contato{
    background: #eaf2fd;
    display: flex;
    padding-top: 6.4rem;
}

.contato__imagem{
    margin-left: 12%;
    margin-bottom: 2rem;
}

.contato__formulario{
    margin-left: 1.5rem;

}

.formulario{
    display: flex;
    flex-direction: column;
}

input{
    width: 40rem;
    height: 2rem;
}

#submit{
    width: 10rem;
    margin-top: 1rem;
}